<div class="marquee-holder">
  <div class="marquee-wrapper">
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
    <div class="marquee-box">&nbsp;{{ settings.marquee_content }}</div>
  </div>
</div>